* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'social';
    src: url(../social_science_sans/SocialScienceSans_PERSONAL_USE_ONLY.otf);
}

html, body, #home {
    height: 100vh;
    width: 100%;
    overflow-x: hidden; /* esconde a barra de rolagem horizontal */
}


.contain {
    background: black;
    color:aliceblue;
    
}

h1, h2, h3 {
    font-family: 'social';
}

p, span {
    font-family: "Roboto Mono", monospace;
}

.titulo h1 {
    width: 100%;
    line-height: 110px;
    font-family: 'social';
    font-weight: 500;
    font-size: 110px;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.126);
    -webkit-text-stroke: 1.5px #ffffffef;
}

#home span {
    font-size: 19px;
    letter-spacing: 2px;
}

header#home {
    background: rgba(0, 0, 0, 0.533) url(../imagens/fundo_pontos.jpg) no-repeat top left fixed;
    background-size: cover;
    background-blend-mode:darken ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home .text {
    width: 100%;
    height: 100vh;
}

#home a.b_curriculo {
    /* background-color: rgba(240, 248, 255, 0.96); */
    border: 1px solid rgba(240, 248, 255, 0.96);
    text-decoration: none;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    transition: 0.7s;
    filter: drop-shadow(0px 0px 10px rgb(55, 130, 236));
}

#home a.b_curriculo:hover {
    color: black;
}


.redes_sociais {
    color: white;
    font-size: 20px;
}

.redes_sociais a i {
    color: white;
    font-size: 20px;
}

.redes_sociais a i:hover {
    color: #118ac2;
    filter: drop-shadow(0px 0px 10px rgb(55, 130, 236));
}

/* SEÇÃO SOBRE
*************************/
section.sobre {
    background: black;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);
    padding: 40px;
}

section.sobre h2 {
    text-align: left;
    font-family: 'social';
    font-size: 28px;
    letter-spacing: 1.7px;
}

section.sobre span {
    font-weight: bold;
    font-family: 'social';
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.126);
    -webkit-text-stroke: 0.5px #ffffffe8;
}

section.sobre article img {
    width: 450px;
    border-radius: 10% 35% 10% 35%;
    filter: brightness(45%);
    mask-image: linear-gradient(to left, #000 60%, rgba(0,0,0, 0.01) 100%);
}




::-webkit-scrollbar {
    background-color: rgb(22, 22, 22);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(28, 104, 171);
    border-radius: 30px;
}






/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98PX) {

    .titulo {
        width: 100%;
    }

    .titulo h1 {
        font-size: 60px;
        line-height: 60px;
    }
    
    section.sobre h2 {
        text-align: left;
        padding: 0 ;
    }

    section.row {
        width: 100%;
    }
        
    section.sobre article p {
        padding: 0 ;
    }
    
    section.sobre article img {
        width: px;
        margin: 25px 0;
        mask-image: linear-gradient(to top, #000 45%, rgba(0,0,0, 0.01) 100%);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Medium devices (tablets, 768px an up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
    section.sobre article img {
        width: 600px;
        margin: 25px 0;
        mask-image: linear-gradient(to top, #000 48%, rgba(0,0,0, 0.01) 100%);
    }
}
    
    /* Larde devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (larde desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}