
/*GERAIS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

p {
    color: rgba(255, 255, 255, 0.692);
}

/* FONTS */
@font-face {
    font-family: CloisterBlack;
    src: url(../fonts/CloisterBlack.ttf);
}
@font-face {
    font-family: Ancient;
    src: url(../fonts/Ancient\ Medium.ttf);
}

body {
    background: rgb(0, 0, 0.8) url(../img/fundo_home01.png) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}


/* NAVEGAÇÃO */
.navegacao {
    box-shadow: 0px 0px 75px rgba(227, 228, 237, 0.277);
    border-bottom: 1px solid rgba(255,255,255,0.18);
    -webkit-border-radius:0 0 15px 15px;
    -moz-border-radius:0 0 15px 15px;
    -o-border-radius:0 0 15px 15px;
    border-radius:0 0 15px 15px;
    backdrop-filter: blur(10px);
}

.navegacao a {
    color: rgb(182, 181, 181);
    font-family: 'CloisterBlack';
    font-weight: bold;
    font-size: 24px;
}

.navegacao a:hover {
    color: red;
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 252, 0.171));
}

/* HOME */
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.titulo h1 {
    color: white;
    font-family: 'Ancient';
    font-size: 150px;
    filter: drop-shadow(0px 0px 20px rgba(3, 2, 2, 0.952));
}

.titulo p {
    width: 40%;
    font-size: 20px;
    color: white;
    font-family: 'CloisterBlack';
}


/* ANIMAÇÃO REDES SOCIAIS */
@keyframes redes-sociais {
    from {top: 0px; }
    to {top: -7px; }
}

.redes-sociais {
    color: red;
    font-size: 40px;
    padding: 20px 30px;

    position: relative;
    animation-name: redes-sociais;
    animation-duration: 0.6s;  
    animation-delay: -2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    /* animation: redes-sociais 0.6s -2 infinite alternate both; */
}

.icon-redes-sociais:hover {
    color: rgba(255, 0, 0, 0.911);
    font-size: 45px;
    filter: drop-shadow(0px 0px 20px rgba(209, 1, 1, 0.952));
}

/* INFORMAÇÕES */
section.informacoes {
    background: rgb(22, 22, 22);
    padding: 100px;
    box-shadow: 0px 0px 25px 20px rgba(12, 12, 12, 0.89);
}

i.icone-informacoes {
    color: rgb(153, 108, 11);
    font-size: 48px;
    margin-bottom: 15px;
}

.informacoes h4 {
    font-family: 'CloisterBlack';
    font-size: 27px;
    font-weight: bold;
    font-weight: 500;
    color: aliceblue;
}

.informacoes p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.1px;
}

.informacoes div a {
    text-decoration: none;
}

/* SEÇÃO TRABALHOS */
section.portifolio {
    padding: 60px 0 30px 0;
    backdrop-filter: blur(8px);
}

section.portifolio h1 {
    color: white;
    font-size: 60px;
    font-family: 'CloisterBlack';
    margin-bottom: 50px;
    filter: drop-shadow(0px 0px 25px rgb(0, 0, 0));
}

.img-tattoo {
    border-radius: 10px;
    filter: drop-shadow(0px 0px 25px rgba(82, 12, 12, 0.39));
}

/* SEÇÃO SOBRE */
section.sobre {
    background: black;
    padding: 65px 0;
    box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.671);
}

section.sobre h1 {
    color: white;
    font-size: 60px;
    font-family: 'CloisterBlack';
    margin-bottom: 50px;
    
}

section.sobre img {
    mask-image: linear-gradient(to right, #000 50%, rgba(0,0,0, 0.01) 95%);
}

/* FOOTER RODAPÉ */
footer.rodape {
    background: rgb(22, 22, 22);
    color: white;
    font-family: monospace;
    padding: 50px 0 10px 0;
}

footer.rodape h4 {
    color: #919496;
    font-size: 0.9em;
    text-transform: uppercase;
}

footer .menu a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}

footer .menu a:hover {
    color: rgb(245, 44, 37);
}

footer ul {
    list-style: none;
}

footer .horarios {
    color: white;
    font-size: 0.8em;
    line-height: 25px;
}

a .icon-rodape  {
    color: white;
    font-size: 35px;
}
a .icon-rodape:hover  {
    color: rgb(245, 44, 37);
}

.desenvolvidopor {
    text-align: center;
    margin: 30px 0 0 0;
}

.desenvolvidopor a {
    color: white;
    font-weight: 900;
    text-decoration: none;
}

.desenvolvidopor a:hover {
    color: rgb(244, 23, 23);
    text-decoration: none;
    filter: drop-shadow(0px 0px 10px rgba(177, 177, 177, 0.814));
}


::-webkit-scrollbar {
    background-color: rgb(22, 22, 22);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(153, 108, 11);
    border-radius: 30px;
}





/* RESPONSIVIDADE */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98PX) {
    .titulo h1 {
        font-size: 70px;
        margin-bottom: 18px;
    }

    .titulo p {
        width: 80%;
    }

    /* INFORMAÇÕES */
    .informacoes {
        padding: 50px;
    }

    .informacoes h4 {
        font-size: 25px;
    }

    .informacoes p {
        font-size: 16px;
    }

    i.icone-informacoes {
        font-size: 48px;
        margin-bottom: 15px;
    }

    section.portifolio h1 {
        font-size: 38px;
    }
    
    section.sobre h1 {
        font-size: 38px;
    }

    section.sobre img {
        mask-image: linear-gradient(to bottom, #000 50%, rgba(0,0,0, 0.01) 90%);
        margin-bottom: 20px;
    }

    footer div.menu-sm {
        margin: 20px 0;
    }

    footer div.horarios-sm {
        margin-bottom: 20px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px an up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .titulo p {
        width: 68%;
    }
}

/* Larde devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (larde desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}