
/*CONFIGURAÇÕES GERAIS
**************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    font-family: "Montserrat";
    overflow-x: hidden;
}

/*BOTÃO
************************************/
a.botao {
    color: black;
    background: #80cb0f;
    font-weight: 500;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
a.botao:hover {
    background:  #a2ff16;
    color: black;
    text-decoration: none;
}
a.botao i{
    font-weight: 500;
}


/*INICIO TOPO
*************************************/
#cabecalho {
    background: #ffed00 url(../imagens/HB-Fundo-1.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.inicio-textos {
    margin-left: 102px;
    padding: 10px;
}

.inicio-textos img {
    width: 189px;
    height: 108px;
}

.inicio-textos h1 {
    color: #80cb0f;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    margin: 20px 0 0 0;
    padding: 0;
}

.inicio-textos p {
    color: white;
    margin: 13px 0;
    padding: 0;
}
/* FIM TOPO */

/*SEÇÃO SERVIÇOS
*****************************/
section.secao-servicos {
    background: #80cb0f;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.servicos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.servicos h1 {
    font-size: 40px;
    padding: 50px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

.cards {
    background: #333333;
    margin-right: 5px;
    padding: 10px 10px 20px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.cards h2 {
    color: #80cb0f;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 27px 0 16px 0;
}

.cards img {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.cards a {
    margin: auto;
    display: block;
    width: 80%;
}

p.atendimento-servicos {
    font-size: 1.3em;
    margin-bottom: 30px;
}
/*SEÇÃO VOCE MERECE
*******************************/
section.voce-merece {
    background: #000000 url(../imagens/fundo.jpg) repeat-y center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.voce-merece h1 {
    color: #80cb0f;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 60px;
}

.border-voce-merece {
    /* #ffed00; */
    border-bottom: 3px solid #80cb0f;
    padding-bottom: 100px;
}

.caixa {
    width: 560px;
    height: 186px;
    padding: 10px;
    margin-bottom: 30px;
}

.caixa h2 {
    color: #80cb0f;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.caixa p {
    color: white;
    font-size: 17px;
}

.icone {
    color: #80cb0f;
    font-size: 55px;
    margin-bottom: 13px;
}

.rotate {
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
}

/* LOCALIZAÇÃO
***************************************/
section.localizacao {
    background: #000000 url(../imagens/fundo.jpg)no-repeat center center;
    background-size: cover;
    padding: 40px 0 20px 0;
}

.localizacao h3 {
    color: #80cb0f;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800
}
.localizacao p {
    color: white;
    font-size: 19px;
}

.mapa {
    border-radius: 15px;
}

/* RODAPÉ
***************************************/
footer {
    background-color: #80cb0f;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 16px;
}

/*SCROLL BAR*/
::-webkit-scrollbar {
    background-color: rgb(22, 22, 22);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #a2ff16;
    border-radius: 30px;
}



/* RESPONSIVIDADSE
********************************/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98PX) {

    #cabecalho {
        background: rgba(0, 0, 0, 0.7) url(../imagens/HB-Fundo-1.jpg) no-repeat top right;
        background-size: cover;
        background-blend-mode: darken;
    }

    .inicio-textos img {
        width: 150px;
        height: 90px;
    }
    
    .inicio-textos h1 {
            font-size: 30px;
            font-weight: 900;
            text-transform: uppercase;
            font-style: italic;
            margin: 20px 0 0 0;
        }

    .servicos {
        width: 100%;
        height: 100%;
    }
        
    .servicos h1 {
        font-size: 25px;
    }
    
    .cards {
        margin: 10px 0;
    }

    .mapa {
        margin-top: 40px;
        width: 98%;
    }

    .copy {
        order: 0;
    }

    .logo {
        order: 2;
    }

    .creditos {
        order: 1;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Medium devices (tablets, 768px an up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .logo img {
        width: 150px;
    }
}


/* Larde devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (larde desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}