
/*CONFIGURAÇÕES GERAIS
**************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}

/*BOTÃO DO WHATSAPP
************************************/
a.botao-whatsapp {
    color: black;
    background: #ffed00;
    padding: 12px 24px;
}

a.botao-whatsapp:hover {
    color: black;
}


/*INICIO TOPO
*************************************/
#cabecalho {
    background: #ffed00 url(../imagens/HB-Fundo-1.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.inicio-textos {
    margin-left: 102px;
    padding: 10px;
}

.inicio-textos img {
    width: 189px;
    height: 108px;
}

.inicio-textos h1 {
        color: #ffed00;
        font-size: 48px;
        font-weight: 900;
        text-transform: uppercase;
        font-style: italic;
        margin: 20px 0 0 0;
    }

.inicio-textos p {
        color: white;
        margin-top: 20px;
    }
/* FIM TOPO */

/*SEÇÃO SERVIÇOS
*****************************/
section.secao-servicos {
    background: #ffed00;
}

.t-servicos h1 {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
}

.servicos {
    background: #333333;
    width: 379px;
    height: 528px;
    border-radius: 15px;
    padding: 10px;
}

.servicos img {
    width: 351px;
    height: 300px;
    border-radius: 15px;
}

.servicos h2 {
    color: #ffed00;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    margin: 30px;
}

.servicos p {
    color: white;
    text-align: center;
}

.servicos a {
    margin: auto;
}



/* RESPONSIVIDADSE
********************************/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98PX) {
    .inicio-textos img {
        width: 150px;
        height: 90px;
    }
    
    .inicio-textos h1 {
            font-size: 30px;
            font-weight: 900;
            text-transform: uppercase;
            font-style: italic;
            margin: 20px 0 0 0;
        }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Medium devices (tablets, 768px an up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/* Larde devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (larde desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}