
/* GERAL
**********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a.botao {
    font-size: 1.25; 
    font-family: 'Poppins-SemiBold';
    color: white;
    background: #541321;
    padding: 15px 8px 15px 50px;
    border-radius: 42px;
    transition: 0.5s;
}

a.botao:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 12px #541321;
}

a.botao i {
    font-size: 2em;
    rotate: -38deg;
}
/*********************************************/


/* FONTES
**********************************************/
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../Poppins/Poppins-Bold.ttf);
}
/*********************************************/


/* SEÇÃO HOME
********************************************/
#home {
    width: 100%;
    height: 100vh;
    background: url(../imagens/bg-sessao-1.png) no-repeat top center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-home {
    width: 36.5em;
    height: 26.6em;
    margin-left: 24.3em;
    margin-top: -2em;
}

.text-home h1 {
    font-size: 3.4375em;
    font-family: 'Poppins-SemiBold';
    line-height: 133%;
    margin: 31px 0 14px 0;
}

.text-home p {
    font-size: 1.125em;
    font-family: 'Poppins-Regular';
    margin-bottom: 2.4em;
}

/*********************************************/


/* SEÇÃO SERVIÇOS
**********************************************/
section.servicos {
    background: #f5f5f57a;
    padding-top: 7.4em;
}

span.ajuda {
    border: 1px solid #dad8d8ea;
    width: 15em;
    border-radius: 42px;
    padding: 10px 25px;
    text-transform: uppercase;
}

.conteiner-servicos h2 {
    width: 17em;
    font-size:  2.812em;
    text-align: center;
    margin: 25px 0 27px 0;
}

.conteiner-servicos p {
    font-family: 'Poppins-Regular';
    font-size: 1em;
    width: 32em;
    text-align: center;
    margin-bottom:  3.125em;
}

article.cards-servicos {
    border: 1px solid #88878745;
    background-color: white;
    border-radius: 15px;
    padding: 51px 46px;
}

.cards-servicos h3 {
    font-family: 'Poppins-SemiBold';
    font-size: 1em;
}

.cards-servicos p {
    font-family: 'Poppins-Regular';
    font-size: 0.81em;
    text-align: left;
    width: 274px;
}
/*********************************************/

/* SEÇÃO CORAÇÃO
**********************************************/
section.coracao {
    padding: 10em 0 12em 0;
}

.texto-coracao {
    width: 36em;
}

.texto-coracao h2{
    font-family: 'Poppins-SemiBold';
    font-size: 2.81em;
    line-height: 150%;
}

.texto-coracao p{
    width: 580px;
    font-size: 1.3em;
    margin-bottom: 2em;
}

/*********************************************/


/* SEÇÃO EQUIPAMENTOS
**********************************************/
section.equipamentos {
    background-color: white;
}

span.img-equipamentos {
    background-color: #541321;
    height: 70px;
    width: 100%;
    color: white;
    font-size: 1.2em;
}

.equipamentos span i {
    rotate: 50deg;
}

.imagens01 img.img1 {
    border-radius: 0px 31px 31px 0;
}
/*********************************************/


/* SEÇÃO  DOUTORA
**********************************************/
section.doutora {
    box-shadow: 0px -150px 150px white;
    position: relative;
    z-index: 1
}

.container-doutora img {
    margin-top: -11em;
}

.texto-doutora {
    width: 51%;
    margin-top: -2em;
}

.texto-doutora h2 {
    font-family: 'Poppins-SemiBold';
    font-size: 2.81em;
    line-height: 150%;
    margin-bottom: 28px;
}

.texto-doutora p {
    font-family: 'Poppins-Regular';
    font-size: 1.2em;
}
/********************************************/


/* SEÇÃO  DEPOIMENTOS
**********************************************/
section.depoimentos {
    padding: 20px 0 120px 0;
}

.depoimentos h2 {
    font-family: 'Poppins-SemiBold';
    font-size: 2.81em;
    padding: 130px 0 0 0;
}

section.depoimentos p {
    width: 622px;
    font-family: 'Poppins-Regular';
    font-size: 1.1em;
    text-align: center;
    margin: 13px 0 57px 0;
}
/********************************************/
.texto-localizacao h2 {
    font-family: 'Poppins-SemiBold';
    font-size: 2.2em;
}

a.botao-loc1 {
    font-size: 0.9em; 
    font-family: 'Poppins-SemiBold';
    color: white;
    background: #541321;
    padding: 13px 45px 13px 45px;
    border-radius: 42px;
    margin-left: 15em;
    transition: 0.5s;
    
}

a.botao-loc1:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 12px #541321;
}

a.botao-loc2 {
    font-size: 0.9em; 
    font-family: 'Poppins-SemiBold';
    color: #541321;
    background: #e0e0e0fc;
    padding: 13px 45px 13px 45px;
    border-radius: 42px;
    transition: 0.8s;
}

a.botao-loc2:hover {
    color: #541321;
    text-decoration: none;
    box-shadow: 0px 0px 12px #532a33;
}

div.mapa iframe {
    width: 100%;
    height: 450px;
    border: none;
    margin-top: 5em;
    margin-bottom: -0.4em;
}


section.contatos {
    background: #541321;
}

div.info-contatos {
    width: 447px;
    padding: 78px 0 138px 0;
}
.info-contatos h2 {
    font-family: 'Poppins-SemiBold';
    font-size: 3.125em;
    line-height: 150%;
    padding-bottom: 15px;
    color: white;
}

.info-contatos p {
    font-family: 'Poppins-Regular';
    font-size: 1.2em;
    color: white;
}

.redes-sociais img {
    margin-right: 8px;
}

.redes-sociais span {
    margin-left: 5px;
    font-family: 'Poppins-Regular';
    font-size: 1.2em;
    margin-left: 5px;
    font-family: 'Poppins-Regular';
    font-size: 1.2em;
}

.redes-sociais {
    color: white;
}

form {
    background-color: #e4e4e4;
    width: 587px;
    height: 700px;
    border-radius: 42px;
    padding: 49px 48px;
    margin-top: -7em;
}

form h2 {
    font-family: 'Poppins-Regular';
    font-size: 1.8em;
    margin-bottom: 1.5em;
}

label input {
    width: 100%;
    height: 74px;
    margin-bottom: 1.1em;
    border-radius: 20px;
    border: none;
    padding: 23px 25px;
}

label textarea {
    width: 100%;
    height: 181px;
    margin-bottom: 1.1em;
    border-radius: 20px;
    border: none;
    padding: 23px 25px;
}
.botao-form input {
    background-color: #541321;
    color: white;
    font-family: 'Poppins-SemiBold';
    font-size: 1.125em;
    cursor: pointer;
}

footer {
    font-family: 'Poppins-Regular';
    font-size: 0.8em;
    padding: 16px;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Medium devices (tablets, 768px an up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
}


/* Larde devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (larde desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}