
/* GERAIS 
**************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #home {
    height: 100%;
    overflow-x: hidden;
}


body {
    background: rgba(0, 0, 0, 0.6) url(../imagens/capa.webp) no-repeat center center fixed;
    background-blend-mode: darken;
    background-size: cover;
}

main {
    margin-bottom: 30px;
    width: 100%;
}

/* NAVEGAÇÃO
*****************************/
.logo {
    filter: drop-shadow(0px 0px 8px rgb(214, 11, 221));
}

nav ul li a  {
    color: rgba(236, 35, 226, 0.842);
    font-size: 16px;
    letter-spacing: 0.1em;
}

nav ul li a:hover {
    color: rgb(240, 75, 231);
    border-top: 1px solid rgba(236, 35, 226, 0.842);
    border-bottom: 1px solid rgba(236, 35, 226, 0.842);
    margin-top: 7px;
    padding-top: 0;
    padding-bottom: 0;
    filter: drop-shadow(0px 0px 10px rgb(196, 2, 202));
    transition-duration: 0.8s;
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 10px;
}

nav .whatsapp {
    color: rgba(236, 35, 226, 0.842);
}

nav .whatsapp:hover {
    color: green;
    filter: drop-shadow(0px 0px 10px rgb(255, 0, 106));
    transition-duration: 0.8s;
}

nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.7);
}

/* CAPA
****************************/
h1 {
    font-size: 5em;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
    filter: drop-shadow(0px 0px 10px rgba(195, 2, 202, 0.781));
}

.capa {
    text-align: center;
}

.btn-custon {
    background: white;
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    filter: drop-shadow(0px 0px 6px rgb(196, 2, 202));
}

.btn-custon:hover {
    background-color: white;
    color: black;
    font-size: 1.3em;
    filter: drop-shadow(0px 0px 10px rgb(196, 2, 202));
    transition-duration: 0.3s;
}

.control-custon {
    width: 5%;
}

/* CONTEÚDO PISTAS
*************************************/
.pistas {
    background: black;
    padding-top: 20px;
    box-shadow: 0px 5px 50px black;
    height: 100%;
}

.pistas h1{
    font-size: 2.4em;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.descricao-pistas h2 {
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: -0.05em;
    filter: drop-shadow(0px 0px 8px rgb(196, 2, 202));
}

.descricao-pistas p {
    letter-spacing: 0.01em;
    color: rgb(172, 170, 170);
    font-weight: 500;
}

.descricao-pistas a {
    width: 85%;
    font-weight: 700;
    border-radius: 15px;
    filter: drop-shadow(0px 0px 6px rgb(196, 2, 202));
    
}

.descricao-pistas {
    padding: 8px;
    border-radius: 10px;
    color: aliceblue;
}

.img-pista {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 364px;
    height: 242px;
}

.text-white {
    color: #9204AE !important;
    border: 1px solid #9204AE;
    border-radius: 5px;
    padding: 5px 8px;
}

.container-belem, .container-ananindeua {
    border-bottom: 1px solid #a51fc0a2;
    padding-bottom: 40px;
}


.control-pistas a {
    width: 10%;
    color: black;
}

.btn-localizacao {
    width: 100% !important;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98PX) {
    h1 {
        font-size: 2em;
        font-weight: 900;
        letter-spacing: -0.05em;
        margin-bottom: 50px;
        color: white;
        filter: drop-shadow(0px 0px 10px rgba(195, 2, 202, 0.781));
    }

    .btn-custon {
        width: 60%;
        font-size: 15px;
        padding: 8px;
    }
    
    body {
    background: rgba(0, 0, 0, 0.6) url(../imagens/capa.webp) no-repeat center center fixed;
    background-blend-mode: darken;
    background-size: cover;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 2em;
        font-weight: 900;
        letter-spacing: -0.05em;
        margin-bottom: 50px;
        color: white;
        filter: drop-shadow(0px 0px 10px rgba(195, 2, 202, 0.781));
    }
    
    .btn-custon {
        width: 30%;
        font-size: 13px;
        padding: 8px;
    }
}

/* Medium devices (tablets, 768px an up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 3em;
        font-weight: 900;
        letter-spacing: -0.05em;
        margin-bottom: 50px;
        color: white;
        filter: drop-shadow(0px 0px 10px rgba(195, 2, 202, 0.781));
    }

    
    .btn-custon {
        width: 30%;
        font-size: 15px;
        padding: 8px;
    }
}

/* Larde devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (larde desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}
